body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../img/fondo_login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1{
    text-align: center;
}

table{
    border-style: solid;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 17%;
    opacity: 0.8;
    width: 40%;
    height: 300px;
}

input{
    width: 85%;
    border-radius: 5px;
    border-style: none;
    height: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#btnVerifica{
    background-color: #333;
    border-style: none;
    width: 90%;
    height: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
}

#btnVerifica:hover{
    background-color: white;
    color: #333;
}

table .logo{
    letter-spacing: 15px;
    font-size: 1rem;
}

table label{
    letter-spacing: 4px;
    font-size: 1rem;
}

@media only screen and (max-width: 768px){

    table{
        margin-top: 35%;
        width: 90%;
    }
}