
#galeria{
    width: 80%;
    margin: auto;
}

#galeria ul{
    display: flex;

}

#galeria img{
    width: 90%; 
    border-radius: 10px;
}

#galeria1{
    width: 80%;
    margin: auto;
}

#galeria1 ul{
    display: flex;
}

#galeria1 img{
    width: 90%;
    border-radius: 10px;
}

@media only screen and (max-width: 768px){
    
    #galeria li p{
        display: none;
    }

    #galeria1 li p{
        display: none;
    }
    
}